{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ayman's Minerals: A magnificent catalog of minerals</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/myglobal.css' %}">
    </head>
    <body>
        {% block content %}{% endblock %}
    <div class="minerals__random">
      <div id="letters" style="margin-bottom: 10px">
        {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
          {% if letter == selected_letter %}
            <a id="{{ letter }}" href="{% url 'minerals:list' letter=letter %}" class="minerals__anchor" style="font-weight: bold; color: #DCF63B">{{ letter|upper }}</a>
          {% else %}
            <a id="{{ letter }}" href="{% url 'minerals:list' letter=letter %}" class="minerals__anchor" style="font-weight: normal">{{ letter|upper }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <a class="minerals__anchor" href="{% url 'minerals:detail' pk=random_mineral.pk %}">Show random mineral</a>
    </div>
    <script src="{% static "js/app.js" %}"></script>
    </body>
</html>